*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --colorOne: #021526;
  --colorTwo: #03346E;
  --colorThree: #6EACDA;
  --colorFour: #E2E2B6;
  font-family: "Teko";
}

body {
    background-color: var(--colorOne);
    color: var(--colorFour);
    height: 100vh;
    display: flex;
    flex-direction: column;
    appearance:none;
}

#title {
  font-size: 6rem;
  text-align: center;
  line-height: 10vh;
  margin-top: 20px;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  gap: 40px;
}

.mmButton {
  font-size: 5rem;
  text-align: center;
  background-color: var(--colorFour);
  color: var(--colorOne);
  width: fit-content;
  margin: 10px auto 10px auto;
  padding: 0px 30px;
  border-radius: 30px;
}

.mmButton:hover {
  cursor: pointer;
  background-color: #77775d;
}

.nameLabel {
  font-size: 5rem;
}

.nameInput {
  height: 3rem;
  width: 20vw;
  font-size: 2.3rem;
  padding: 10px;
  text-align: center;
}

.errorMessage {
  font-size: 2.3rem;
  color: red;
}

#playerInputContainers {
  display: flex;
  gap: 20vw;
  margin-bottom: 10vh;
}

.playerInputContainer {
  display: flex;
  flex-direction: column;
}

.createPlayerButton {
  background-color: var(--colorFour);
  color: var(--colorOne);
  font-size: 3rem;
  border-radius: 30px;
  width: fit-content;
  margin: 15px auto 15px auto;
  padding: 10px 30px 5px 30px;
}

.createPlayerButton:hover {
  cursor: pointer;
  background-color: #77775d;
}

#shipPlacementScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shipPlacementScreen .subTitle {
  font-size: 3rem;
}

#shipPlacementScreen .playerBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 30vw;
}

#shipPlacementScreen .buttonContainer {
  display: flex;
  gap: 5vw;
  margin-top: 20px;
}

#shipPlacementScreen .button {
  color: var(--colorOne);
  font-size: 3rem;
  border-radius: 30px;
  width: fit-content;
  margin: 15px auto 15px auto;
  padding: 10px 30px 5px 30px;
}

#shipPlacementScreen .button:hover {
  cursor: pointer;
}

#shipPlacementScreen .gridCell {
  width: 3.0vw;
  height: 3.0vw;
  border: 2px solid var(--colorFour);
  background-color: var(--colorOne);
}

#shipPlacementScreen .gridCell:hover {
  cursor: pointer;
}

#backButton {
  background-color: red;
}

#backButton:hover {
  background-color: rgb(137, 0, 0);
}

#rotateButton {
  background-color: yellow;
}

#rotateButton:hover {
  background-color: rgb(166, 166, 0);
}

#readyButton {
  background-color: rgb(0, 212, 0);
}

#readyButton:hover {
  background-color: rgb(0, 125, 0);
}

#turnDisplay {
  font-size: 3.7rem;
  text-align: center;
  color: var(--colorOne);
  width: fit-content;
  margin: 10px auto 10px auto;
  padding: 0px 30px;
  border-radius: 30px;
}

.turnDisplayButton {
  cursor: pointer;
}

#boardsContainer {
  display: flex;
  gap: 20vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boardContainer {
  display: flex;
  flex-direction: column;
}

.boardContainer .playerBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 30vw;
}

.boardContainer .playerName {
  text-align: center;
  font-size: 4rem;
}

.boardContainer .gridCell {
  width: 3.0vw;
  height: 3.0vw;
  border: 2px solid var(--colorFour);
  background-color: var(--colorOne);
}

.boardContainer .gridCell:hover {
  cursor: pointer;
  background-color: white;
}

#footer {
  display: flex;
  margin-top: auto;
  background-color: var(--colorFour);
  color: var(--colorOne);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 20px;
  text-align: center;
  vertical-align: middle;
}

#footer div {
  margin-top: 4px;;
}

#footer img {
  cursor: pointer;
  height: 30px;
}
